// Created By xuyao

.bbdModal {
    @at-root {

        #{&}_root {
            position: relative;
            width: 100%;
        }

        #{&}_bg{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #373737;
            background-color: rgba(55,55,55,.6);
            height: 100%;
            z-index: 1000;
            filter: alpha(opacity=60);
        }

        #{&}_wrap{
            position: fixed;
            overflow: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            -webkit-overflow-scrolling: touch;
            outline: 0;
        }

        #{&}_content{
            position: relative;
            width: 420px;
            margin: 0 auto;
            top: 50%;
            background-color: #1b3c59;
            border: solid 1px #03577a;
            margin-top: -100px;
        }

        #{&}_close{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }

        #{&}_header{
           margin: 0 20px;
           padding:14px 16px;
           border-bottom: solid 2px #03577a;
           text-align: left;
           font-size: 18px;
           color: #00b7ee;
        }

        #{&}_body{
            padding: 16px;
            font-size: 12px;
            line-height: 1.5;
            text-align: center;
            font-size: 16px;
            color: #00b7ee;
        }

        #{&}_footer{
            padding: 10px 16px 10px 10px;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 0 0 4px 4px;
        }

        #{&}_footer button{
            display: inline-block;
            width: 117px;
            margin: 0 10px;
        }

        #{&}_footer .cancel{
           background-color: #8899aa;
        }
    }
}
