
.date {

  @at-root #{&}__root {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #0D7199;
    font-size: 14px;
    color: #4c4c4c;
  }

  @at-root #{&}__showDate {
    position: relative;
    height: 100%;
    line-height: 34px;
    cursor: pointer;
    padding-left: 9px;
    color: white;

    &::after {
      content: "\e8cf";
      position: absolute;
      right: 9px;
      top: 2px;
      font-family:"iconfont" !important;
      font-size:16px;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  @at-root #{&}__calender {
    min-width: 210px;
    position: absolute;
    top: 38px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 0 2px;
    background-color: #fff;
  }

  @at-root #{&}__handleWrap {  overflow: hidden;  }

  @at-root #{&}__prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    cursor: pointer;
  }
  @at-root #{&}__YMD {
    float: left;
    overflow: hidden;
  }
  @at-root #{&}__year {
    width: 44px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  @at-root #{&}__month {
    height: 30px;
    width: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    cursor: pointer;
  }
  @at-root #{&}__day {
    @extend .date__month;
  }
  @at-root #{&}__next {
    @extend .date__prev;
  }
  @at-root #{&}__clear {
    @extend .date__prev;
  }

  @at-root #{&}__list {  overflow: hidden;  }

  @at-root #{&}__item {

    @at-root #{&}--day {
      width: 27px;
      height: 27px;
      line-height: 27px;
      float: left;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      transition: all .3s;

      &:hover {
        @extend .date__item--hover;
      }
    }
    @at-root #{&}--week {
      @extend .date__item--space;
      font-weight: bold;
      text-align: center;
      background-color: #fff;
    }
    @at-root #{&}--space {
      width: 27px;
      height: 27px;
      float: left;
    }

    @at-root #{&}--month {
      @extend .date__item--day;
      width: 47px;
      height: 47px;
      line-height: 47px;

      &:hover {  @extend .date__item--hover;  }
    }

    @at-root #{&}--year {
      @extend .date__item--day;
      width: 63px;
      height: 63px;
      line-height: 63px;

      &:hover {  @extend .date__item--hover;  }
    }

    @at-root #{&}--hover {
      color: #fff;
      font-weight: bold;
      background-color: #ccc;
    }
    @at-root #{&}--active {
      @extend .date__item--hover;
    }
  }
}